body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* My fist section  */

.first-sec{
    background-color: #2D25A0;
    width:100%;
    height: 677px;
}

nav{
    display: flex;
    justify-content:space-between;
    padding-top: 42px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 9%;
    padding-top: 10px;
}
li{
    float: left;
    margin-right:36px;
    color: white;
    font-size: 16px;
}
.login{
    margin-right: 9%;
    color: white;
    background-color: #E02C6D;
    padding: 9px 25px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
.login-icon{
    margin-right: 10px;
    font-size: 16px;
}

/* heading  */

.heading{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.title-info{
    margin-left: 9%;
    width: 40%;
}
h1{
    color: white;
    font-size: 64px;
    margin: 0;
    margin-bottom: 30px;
}
.watch-live{
    padding: 10px 25px;
    color: white;
    background-color: #E02C6D;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    
}
.fa-arrow-right{
    margin-left: 10px;
}
.title-image{
    width: 40%;
    margin-right: 9%;
}
.banner{
    width: 100%;
}

/* second section  */
.players-view{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 70px 130px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px #c9c8c8;
}

img{
    width: 100%;
}
